SECRET_KEY=
DATABASE_URL=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
INITIAL_ADMIN_PASSWORD=
INITIAL_ADMIN_EMAIL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
FRONTEND_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=